version: '2'
services:

    devapp:
        image: hot/dashboard
        build: .
        ports:
            - '3000:3000'
        volumes:
            - './:/usr/dockers/devapp/'
            - '/usr/src.old/app/node_modules'
        entrypoint: Docker/docker-entrypoint.sh
