@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

/*------------------------------------------------------------------------//
//------------------------------- Content --------------------------------//
//------------------------------------------------------------------------*/
/** General contents div **/
.content-row {
    display      : flex;
    text-align   : center;
    padding      : 0 !important;
}

/** Grid contents div **/
.grid-item {
    padding      : 0 !important;
}