/*------------------------------------------------------------------------//
//------------------------------- Widgets --------------------------------//
//------------------------------------------------------------------------*/
/** External widgets **/
.widget-container {
    display       : flex;
    flex-direction: column;
    margin: 40px 20px 0px;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.54) !important;
}
/** External widgets **/
.indicator-container {
    display       : flex;
    height: auto !important;
    margin: 40px 20px 0px;
}
.widget-image{
    background-color : #D73F3F;
    width            : 80px;
}
.widget-text{
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    margin          : 0 auto;
    padding         : 10px;

}