/*------------------------------------------------------------------------//
//--------------------------------- Tabs ---------------------------------//
//------------------------------------------------------------------------*/
.tabs{
    display         : flex;
    justify-content : space-around;
    padding-top     : 20px;
    padding-bottom  : 10px;
}