@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

/*------------------------------------------------------------------------//
//------------------------------- General --------------------------------//
//------------------------------------------------------------------------*/
.Home {
  text-align : center;
  font-family: 'Archivo', sans-serif;
}

/*------------------------------------------------------------------------//
//------------------------------- Content --------------------------------//
//------------------------------------------------------------------------*/
/** General contents div **/
.content-row {
  display      : flex;
  text-align   : center;
  padding      : 0 !important;
}