@import url('https://fonts.googleapis.com/css?family=Archivo');

/*------------------------------------------------------------------------//
//------------------------------- General --------------------------------//
//------------------------------------------------------------------------*/
.Home {
  text-align : center;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
}

/*------------------------------------------------------------------------//
//------------------------------- Content --------------------------------//
//------------------------------------------------------------------------*/
/** General contents div **/
.content-row {
  display      : flex;
  text-align   : center;
  padding      : 0 !important;
}

/*------------------------------------------------------------------------//
//------------------------------- Loader ---------------------------------//
//------------------------------------------------------------------------*/
.loader {
  border-radius: 50%;
  border: 2px solid rgba(215, 63, 63, .35);
  border-bottom: 2px solid #2C3038;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}