@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

.header-component {
  text-align : center;
}

.header {
  display : flex;
  flex-direction : row;
  height           : 50px;
  padding          : 10px;
  background-color : #D73F3F;
  color            : white;
  box-shadow: 0 5px 50px 0 #929DB3;
}

.header-title {
  display         : flex;
  /* position        : absolute; */
  justify-content : center;
  align-items: center;
  width : 100%;
  font-family: 'Barlow Condensed', sans-serif;
}
